@media (min-width: 768px) and (max-width: 900px){

     header{
          width: auto;
     }
     .navlist1{
          margin-right: 10px;
     }
     article h1{
          margin-left: -20px;
     }
     .tout3{
          width: 160px;
     }
     article{
          margin: auto;
     }
     .teta1{
          margin-left: 120px;
     }

    .line1 img, .line2 img, .line3 img{
         width: 190px;
    }
    .mami, .meme, .papi, .mami img, .meme img, .papi img{
         height: 144px;
    }
    .lineverticale{
         width: 315px;
    }
    aside{
         margin:auto;
         width: auto;
    }
    .mami img, .meme img, .papi img{
         width: 140px;
    }
    .activA img, .activB1 img, .activB2 img, .activC img, .activD1 img, .activD2 img{
         width: 239px;
    }
    footer{
         width: 1010px;
    }

}




/*media Min-width: 414px max-width 768PX */


@media (min-width: 438px) and (max-width: 768px) {

     .global{
          font-size: 11px;
          width: 100%;     
     }
     header{
          margin-left: 20px;
     }
     .choix strong{
          font-size: 10px;
     }
     #logo a img{
          width: 80px;
     }
     .navlist1{
          margin-right: 20px;
     }
     nav a:hover
     {
         border-top: 2px solid #0065fc;
         padding-top: 10px;
     }
     article h1, h2, h3{
          font-size: 11px;
     }
     article h1{
          margin-left: -20px;
     }
     .teta1{
          margin-top: 12px;
          margin-left: 100px;
     }
     .line1 img, .line2 img, .line3 img{
          width: 212px;
          height: 100px;
     }
     .meme2 i, .meme2 p{
          margin-top: 20px;
     }
     .papi2 p{
          margin-top: 10px;
     }
     .lineverticale{
          width: 696px;
          height: 190px;
          margin-left: 0px;
     }
     article{
          display: flex;
          flex-direction: column;
          width: 725px;
          margin-left: 10px;
     }
     .group{
          display: flex;     
     }
    
     .element{
          display: flex;
     }
     
     .mami, .meme, .papi{
          width: 212px;
          height: 110px;
          margin-top: 5px;
     }
     .mami i, .papi i{
          margin-top: 24px;
     }
     .teta, .teta1{
          margin-top: 5px;
     }
     .teta1{
          margin-left: 470px;
     }
     .mami, .meme{
          margin-right: 15px;
     }
     .mami img, .meme img, .papi img{
          height: 110px;
          width: 100px;
     }
     aside{
          width: 715px;
          margin-left: 10px;
     }
     .actimarseil{
          display: flex;
          flex-direction: column;
     }
     .actv1, .actv2{
          display: flex;
     }
     .actimarseil p{
          font-size: 11px;
     }
     .activB, .activD{
          display: flex;
     }
     
     .activA img, .activB2 img, .activC img, .activD2 img{
          width: 230px;
          height: 100px;
     }
     .activA, .activB2, .activC, .activD2{
          width: 230px;
          height: 130px;
     }
     .activB1, .activD1{
          width: 230px;
          height: 130px;
          margin-right: 15px;
     }
     .activB1 img, .activD1 img{
          width: 230px;
          height: 100px;
     }
    
     .pied{
          margin-right: 40px;
     }
     footer{
          width: 740px;
          margin: auto;
     }
     
}


/* MEDIA max-width 413*/


@media screen and (max-width: 437px){

     .global{
          overflow: hidden;
     }


     nav{
          display: flex;
          flex-direction: column-reverse;
     }
     header h1{
          margin-top: 50px;
          font-size: 14px;
     }
     header{
          margin: auto;
          align-items: center;
     }
     .navlist{
          border-bottom: 1px solid gainsboro;
          padding-bottom: 11px;
     }
     .navlist1{
          margin-left: 50px;
          margin-right: 10px;
     }
     .navet{
          margin-right: 50px;
     }
     nav a:hover
     {
         border-bottom: 2px solid #0065fc;
         border-top: none;
         padding-bottom: 10px;
     }
     .loc3 p{
          display: none;
     }
     .loc3 em{
          display: contents;
     }
     .loc3{
          padding: 10px 10px 10px 10px;
     }
     .loc2{
          padding-left: 80px;
          padding-right: 80px;
     }
     .fichoi strong:hover
     {
        color: #F2F2F2;
     }
     .fichoi1 strong:hover
     {
         color: #F2F2F2;
     }
     .tout:hover
     {
        background-color: #0065FC;
     }
     .tout1:hover
     {
        background-color: #0065FC;
     }
     .tout2:hover
     {
        background-color: #0065FC;
     }
     .tout3:hover
     {
        background-color: #0065FC;
     }

     .navlist{
          margin-left: -200px;
          margin-top: 20px;
     }

     .teta h3, .teta1{
          font-size: 10px;
          margin-top: 5px;
     }

     .teta1 i{
          margin-left: 55px;
     }
     .tout2{
          width: 70px;
     }
     .choix{
          display: flex;
          flex-direction: column;
     }
     .choix strong{
          margin-top: 10px;
     }
     
     .choix{
          font-size: 12px;
     }
     .fichoi{
          margin-top: 10px;
          margin-bottom: 10px;
     }
     .chx1{
          padding: 7px 7px 7px 7px;
     }
     .chx3 i{
          padding: 5px 8px 10px 5px;
     }
     .chx5{
          padding: 10px 10px 10px 10px;
     }
     .chx7{
          padding: 5px 7px 7px 7px;
     }
     .fichoi1{
          display: flex;
          flex-direction: column;

     }
     .tout{
          width: 110px;
     }
     .tout1{
          width: 80px;
     }
     .tout2{
          width: 110px;
          margin-bottom: 10px;
     }
     .tout3{
          width: 160px;
     }
     .chxa2 p{
          font-size: 12px;
          margin-left: 5px;
          margin-top: 15px;
     }
     article{
          display: flex;
          flex-direction: column-reverse;
          margin-left: 10px;
          align-items: center;
     }
     .teteline h1{
          font-size: 14px;
     }
     .teta h3{
          font-size: 14px;
     }
     .teta1{
          margin-left: 160px;
     }
     .milieu{
          background-color: white;
          display: flex;
          flex-direction: column;
     }
     .group{
          display: flex;
          flex-direction: column-reverse;
     }
     .element{
          display: flex;
          flex-direction: column;
     }
     .group p, .group h1, .group h2, .group strong{
          font-size: 11px;
     }
     .line1, .line2, .line3{
          margin-right: 0px;
     }
     .line1 i, .line2 i, .line3 i {
          font-size: 10px;
     }
     .line1{
          margin-left: 0px;
     }
     .line1 h2{
          font-size: 14px;
          margin-left: -5px;
     }
     
     .toto, .tata, .titi, .mimi, .meto, .mota{
          width: 370px ;
          height: 180px;
          box-shadow: 0px 3px 2px gainsboro;
     }
     .titi, .mota, .tata, .meto{
          margin-left: -5px;
     }
     .mimi, .toto{
          margin-left: -5px;
     }
     .toto img, .tata img, .titi img, .mimi img, .meto img, .mota img{
          width: 370px;
          height: 100px;
     }
     .milieu{
          width: 368px;
     }
     .lineverticale{
          display:flex;
          flex-direction: column;
          width: 365px;
          height: 520px;
          margin-left: -5px;
     }
     .lineverticale img{
          width: 180px;
          height: 130px;
     }
     .lineverticale strong, .lineverticale p{
          font-size: 11px;
     }
     .element i{
          font-size: 10px;
          margin-top: 30px;
     }
     .element p{
          margin-top: 40px;
     }
     
     .mami, .meme, .papi{
          width: 370px;
          height: 130px;
          margin-right: 10px;
          margin-bottom: 15px;
          margin-top: 5px;
          margin-left: -5px;
     }
     .atm h1{
          font-size: 14px;
          margin-left: 2px;
     }

     .actimarseil{
          display: flex;
          flex-direction: column;
          margin-left: 0px;
     }

     .actv1{
          display: flex;
          flex-direction: column;
     }
     .actv2{
          display: flex;
          flex-direction: column;
     }
     
     .actimarseil p{
          font-size: 12px;
     }
     .activA, .activC{
          height: 200px;
          width: 370px;
          margin-right: 9px;
     }
     .activA img, .activC img{
          height: 170px;
          width: 370px;
     }
     .activB1, .activB2, .activD1, .activD2{
          height: 200px;
          width: 370px;
     }
     .activB1 img, .activB2 img, .activD1 img, .activD2 img{
          height: 170px;
          width: 370px;
          
     }
     .activB{
          margin-right: 0px;
     }
     .activB1, .activD1{
          margin-bottom: 9px;
     }
     aside{
          margin: -2px;
     }
    
     footer{
          display: flex;
          flex-direction: column;
          width: 380px;
          font-size: 10px;
     }

     .pied2{
          margin-left: 10px;
     }
     .pied3{
          margin-left: 10px;
     }


}  


