@media (min-width: 769px) and (max-width: 1024px){

     header{
          width: 1024px;
     }
     
     article h1{
          margin-left: -20px;
     }
     .tout3{
          width: 160px;
     }
     article{
          margin: auto;
     }
     .teta1{
          margin-left: 120px;
     }
     .tout3{
          width: 180px;
     }
    .line1 img, .line2 img, .line3 img{
         width: 190px;
    }
    .mami, .meme, .papi, .mami img, .meme img, .papi img{
         height: 144px;
    }
    .lineverticale{
         width: 315px;
    }
    aside{
         margin:auto;
         width: auto;
    }
    .mami img, .meme img, .papi img{
         width: 140px;
    }
    .activA img, .activB1 img, .activB2 img, .activC img, .activD1 img, .activD2 img{
         width: 239px;
    }
    footer{
         width: 1024px;
    }



}


@media screen and (max-width: 768px){


     article{
          display: flex;
          flex-direction: column;
     }
     .milieu{
          width: 720px;
     }
     .toto, .tata, .titi, .mota, .meto, .mimi{
          width: 222px;
     }
     .toto img, .tata img, .titi img, .mota img, .meto img, .mimi img{
          width: 222px;
     }
     .element{
          display: flex;
     }
     .lineverticale{
          width: 720px;
          height: 250px;
          margin-top: 5px;
          margin-left: 0px;
     }
     .teta1{
          margin-left: 500px;
     }
     .teta h3, .teta1{
          margin-top: 5px;
     }
     .meme, .mami, .papi{
          margin-top: 10px;
          width: 220px;
     }
     .meme, .mami{
          margin-right: 20px;
     }
     .meme img, .mami img, .papi img{
          width: 105px;
     }
     .activA, .activB, .activC, .activD{
          width: 175px;
     }
     .activA img, .activB img, .activC img, .activD img{
          width: 175px;
     }
     .activA img, .activC img{
          height: 260px;
     }
     .activB img, .activD img{
          height: 98px;
     }
     
}

@media screen and (max-width: 416px){

     header{
          margin-left: 10px;
     }

     nav{
          display: flex;
          flex-direction: column-reverse;
     }
     nav a:hover{
          border-top: none;
          border-bottom: 2px solid #0065fc;
          padding: 20px;
     }
    
     .navlist{
          border-bottom: 1px solid gainsboro;
          padding: 20px;
          margin-top: 20px;
          margin-left: -300px;
     }
     .navet{
          margin-right: 110px;
     
     }
     .navi{
         margin-right: 20px;
     
     }
     h1{
          margin-top: 70px;
          font-size: 11px;
     }
     .loc3 p{
          display: none;
     }
     .loc3 em{
          display: contents;
     }
     .loc3 i{
          padding: 10px 10px 10px 10Px;
     
     }
     .loc2{
          padding-left: 80px;
          padding-right: 80px;
     
     }
     .choix, .fichoi1{
          display: flex;
          flex-direction: column;
          
     }
     .choix strong{
          font-size: 14px;
     }
     .fichoi{
          margin-top: 10px;
     }

     .tout2{
          width: 180px; 
          margin-top: 10px;
     }
     .tout3{
          width: 200px;
          margin-top: 10px;
     
     }
     .chxa2 p{
          font-size: 14px;
     }
     
     article{
         display: flex;
         flex-direction: column-reverse;
          
     
     }
     .group{
          display: flex;
          flex-direction: column-reverse;
            
          
     }
     .milieu{
          display: flex;
          flex-direction: column;
          width: 390px;  
          margin-left: -10px;  
     }

     .teteline h1{
          margin-top: 10px;
     }
     
     .toto, .tata, .titi, .mota, .meto, .mimi{
          width: 380px;
          
          
     }
     .toto img, .tata img, .titi img, .mota img, .meto img, .mimi img{
         width: 380px;
         height: 130px;

     }
     .lineverticale{
         display: flex;
         flex-direction: column; 
         height: 600px; 
         width: 390px;
         margin-left: -10px;
         
     }
     .lineverticale img{
          width: 180px;
     }
     .teta1{
          margin-left: 170px;
     }
     .element i, .element p{
         margin-top: 30px;
     
     }
     .element{
          display: flex;
         flex-direction: column;
     }
     
     .mami, .meme, .papi{
          width: 380px;
     }

     h3{
          margin-top: 10px;
     }
     
     aside{
          display: flex;
          flex-direction: column;
          
     
     }
     .actv1, .actv2{
          display: flex;
          flex-direction: column;
     }
     .atm {
         margin-left: 10px;
     }

     .actimarseil{
          display: flex;
          flex-direction: column;
         
         
     }
     .activA img, .activC img{
          width: 370px;
          height: 140px;
     }
     .activB img, .activD img{
          width: 370px;
          height: 140px;
     }
     .activA,.activB1, .activB2, .activC, .activD1, .activD2{
          width: 370px;
          margin-left: 10px;
          height: 180px;

     }
    
     footer{
          display: flex;
          flex-direction: column;
          font-size: 11px;
     }
     .pied2, .pied3{
          margin-left: 10px;
     }


}



@media screen and (max-width: 377px){

     nav{
          display: flex;
          flex-direction: column-reverse;
     }
     nav a:hover{
          border-top: none;
          border-bottom: 2px solid #0065fc;
          padding: 20px;
     }
    
     .navlist{
          border-bottom: 1px solid gainsboro;
          padding: 20px;
          margin-top: 20px;
          margin-left: -270px;
     }
     .navet{
          margin-right: 80px;
     
     }
     .navi{
         margin-right: 20px;
     
     }

     .loc3 p{
          display: none;
     }
     .loc3 em{
          display: contents;
     }
     .loc3 i{
          padding: 10px 10px 10px 10Px;
     
     }
     .loc2{
          padding-left: 65px;
          padding-right: 65px;
     
     }
     .choix, .fichoi1{
          display: flex;
          flex-direction: column;
          
     }
     .choix strong{
          font-size: 14px;
     }
     .fichoi{
          margin-top: 10px;
     }

     .tout2{
          width: 180px; 
          margin-top: 10px;
     }
     .tout3{
          width: 200px;
          margin-top: 10px;
     
     }
     .chxa2 p{
          font-size: 12px;
     }
     .milieu{
          display: flex;
          flex-direction: column;
          width: 340px;  
          margin-left: -5px;  
          background-color: white;
     }
     .lineverticale{
          display: flex;
          flex-direction: column; 
          height: 600px; 
          width: 340px;
          margin-left: -5px;
          
      }
      .teta1{
           margin-left: 130px;
      }

     .lineverticale img{
          width: 160px;
     }
     .element i, .element p{
         margin-top: 30px;
     
     }
     .element{
          display: flex;
         flex-direction: column;
     }
     
     .mami, .meme, .papi{
          width: 330px;
     }

     .toto, .tata, .titi, .mota, .meto, .mimi{
          width: 330px;    
          box-shadow: 0px 2px 3px gainsboro; 
          
     }

     .toto img, .tata img, .titi img, .mota img, .meto img, .mimi img{
         width: 330px;
         height: 130px;

     }
     .activA img, .activC img{
          width: 340px;
          height: 140px;
     }

     .activB img, .activD img{
          width: 340px;
          height: 140px;
     }

     .activA,.activB1, .activB2, .activC, .activD1, .activD2{
          width: 340px;
          margin-left: 13px;
          height: 180px;
          margin-left: 8px;

     }

     footer{
          display: flex;
          flex-direction: column;
          font-size: 11px;
     }

     .pied2, .pied3{
          margin-left: 10px;
     }



}



