@media  screen and (max-width: 1024px) {
     .navlist1{
          margin-right: 10px;
     }
     article h1{
          margin-left: -20px;
     }
     .teta1{
          margin-left: 140px;
     }

    .line1 img, .line2 img, .line3 img{
         width: 190px;
    }
    .mami, .meme, .papi, .mami img, .meme img, .papi img{
         height: 144px;
    }
    .lineverticale{
         width: 315px;
    }
    .mami img, .meme img, .papi img{
         width: 140px;
    }
    .activA img, .activB1 img, .activB2 img, .activC img, .activD1 img, .activD2 img{
         width: 239px;
    }

}

/* MEDIA WIDTH 800*/


@media screen and (max-width: 800px){

     .global{
          font-size: 12px;
     }
     header h1{
          font-size: 14px;
     }
     article h1, h2, h3{
          font-size: 12px;
     }
     
     .teta1 i{
          margin-left: -10px;
     }
     .choix strong{
          margin-top: 10px;
     }
     .chx1, .chx3, .chx5, .chx7{
          padding-top: 8px;
     }
     .chxa2{
          margin-top: 5px;
          margin-left:5px;
          
     }

     .line1 img, .line2 img, .line3 img{
          width: 140px;
          height: 130px;
     }
     .lineverticale img{
          width: 130px;
          height: 100px;
     }
     .mami, .meme, .papi{
          height: 100px;
          width: 240px; 
     }
     .lineverticale{
          width: 240px;
     }
     .atm h1{
          font-size: 12px;
     }
     .activA, .activB1, .activB2, .activC, .activD1, .activD2{
          width: 183px;
     }
     .activA img, .activB img, .activC img, .activD img{
          width: 183px;
     }
     .actimarseil p{
          font-size: 12px;
     }
     footer{
          margin: auto;
          font-size: 12px;
     }
}

/*media width */


@media screen and (max-width: 768px) {

     .global{
          font-size: 11px;
          
     }
     .choix strong{
          font-size: 10px;
     }
     #logo a img{
          width: 80px;
     }
     article h1, h2, h3{
          font-size: 11px;
     }
     article h1{
          margin-left: -20px;
     }
     .teta1{
          margin-top: 12px;
          margin-left: 100px;
     }
     .line1 img, .line2 img, .line3 img{
          width: 130px;
          height: 100px;
     }
     .lineverticale{
          width: 230px;
     }
     
     .mami, .meme, .papi{
          width: 220px;
          height: 100px;
     }
     .mami img, .meme img, .papi img{
          height: 100px;
          width: 110px;
     }
     .activA img, .activB1 img, .activB2 img, .activC img, .activD1 img, .activD2 img{
          width: 175px;
     }
     .actimarseil p{
          font-size: 11px;
     }
     .activA, .activB1, .activB2, .activC, .activD1, .activD2{
          width: 175px;
     }
     .activA img, .activC img{
          height: 270px;
     }
     .pied{
          margin-right: 40px;
     }
     
}

/*MEDIA WIDTH 568*/


@media screen and (max-width:568px){
     #logo{
          width: 80px;
     }
     .global{
          font-size: 10px;
     }
     header h1{
          font-size: 11px;
     }
     .localite{
          font-size: 8px;
          width: 100px;
          height: 20px;
     }
     .loc1{
          height: 20px;
     }
     .loc3{
          height: 28px;
     }
     .loc2 input{
          margin-top: -2px;
          font-size: 11px;
     }
     .loc2{
          height: 27px;
     }
     .loc1 i{
          font-size: 11px;
     }
     .loc3 p{
          font-size: 11px;
     }
     .loc1, .loc3{
          margin-bottom:-5px;
     }
     .fichoi strong, .fichoi1 strong{
          margin-top: 2px;
     }
     
     .tout, .tout1, .tout2, .tout3{
          height: 20px;
          padding: 7px 0px 0px 0px;
     }
     .chx1, .chx3, .chx5, .chx7{
          width: 10px;
          margin-top: -7px;
     }
     .chxa2 p{
          margin-top: 15px;
     }

     .milieu p, .milieu i, .milieu strong{
          font-size: 8px;
     }
     .milieu h1, h2{
          font-size: 8px;
     }
     .line1 img, .line2 img, .line3 img{
          width: 90px;
          height: 60px;
     }
     .toto, .tata, .titi, .mimi, .meto, .mota{
          width: 90px;
          height: 140px;
     }
     .teteline{
          margin-top: 5px;
          font-size: 10px;
     }
     .teta{
          font-size: 10px;
          margin-top: 5px;
     }
     .teta1{
          margin-left: 70px;
          margin-top: 7px;
     }
     .lineverticale{
          width: 160px;
     }
     .lineverticale h3{
          font-size: 8px;
     }

     .lineverticale img{
          width: 80px;
          height: 80px;
     }
     .lineverticale p, .lineverticale strong{
          font-size: 8px;
     }
     .meme i, .mami i, .papi i{
          font-size: 8px;
     }
     .mami{
          margin-top: 10px;
     }

     .meme, .mami, .papi{
          height: 80px;
          width: 160px;
     }
     .activA img, .activB1 img, .activB2 img, .activC img, .activD1 img, .activD2 img{
          width: 125px;
     }
     .activB1, .activB2, .activD1, .activD2{
          width: 125px;
          height: 112px;
     } 
     .activB1 img, .activB2 img, .activD1 img, .activD2 img{
          height: 88px;
     }  
     .activA, .activC{
          height: 245px;
          width: 125px;
     }
     .activA img, .activC img{
          height: 220px;
     }
     .actimarseil p{
          font-size: 8px;
     } 
     aside h1{
          font-size: 10px;
     } 
     .actimarseil p{
          font-size: 8px;
     }
     footer, footer strong{
          font-size: 10px;
     }


}          

/* MEDIA WIDTH 414*/


@media screen and (max-width: 414px){

     nav{
          display: flex;
          flex-direction: column-reverse;
     }
     header h1{
          margin-top: 30px;
     }
     
      nav a:hover
     {
         border-bottom: 2px solid #0065fc;
         border-top: none;
     }
     .tout:hover
     {
        background-color: #0065FC;
     }
     .tout1:hover
     {
        background-color: #0065FC;
     }
     .tout2:hover
     {
        background-color: #0065FC;
     }
     .tout3:hover
     {
        background-color: #0065FC;
     }
     .navlist{
          margin-left: -200px;
          margin-top: 20px;
         
     }
     .loc3 p{
          display: none;
     }
     .loc3 i{
          display: contents;
     }
     #logo{
          width: 70px;
          font-size: 11px;
     }
     
     .loc1 i{
          width: 10px;
     }
     .loc2 input{
          font-size: 11px;
     }
     input{
          width: 300px;
          height: 23px;

     }
     .loc1, .loc2, .loc3{
          height: 23px;
     }
     .loc3{
          padding-bottom: 5px;
     }
     .loc2{
          padding-left: 70px;
          padding-right: 75px;
     }
     .teta h3, .teta1{
          font-size: 10px;
          margin-top: 5px;
     }
     .teta1 i{
          margin-left: -25px;
     }
     .tout2{
          width: 70px;
     }
     .tout1{
          width: 60px;
     }
     .tout{
          width: 80px;
     }
     .tout3{
          width: 110px;
     }
     .tout3{
          width: 120px;
     }
     .choix{
          display: flex;
          flex-direction: column;
     }
     
     .fichoi, .fichoi1 strong{
          font-size: 10px;
          margin-top: 0px;
     }
     .fichoi{
          margin-top: 10px;
          margin-bottom: 10px;
     }
     .chx1, .chx3, .chx5, .chx7{
          padding-top: 7px;
     }
     .fichoi1{
          display: flex;
          flex-direction: column;

     }
     .tout{
          width: 100px;
     }
     .tout1{
          width: 80px;
     }
     .tout2{
          width: 110px;
          margin-bottom: 10px;
     }
     .tout3{
          width: 150px;
     }
     article{
          display: flex;
          flex-direction: column-reverse;
     }
     .teteline h1{
          font-size: 11px;
     }
     .milieu{
          display: flex;
          flex-direction: column;
     }
     .group{
          display: flex;
          flex-direction: column-reverse; 
     }
     .milieu{
          background-color: white;
     }
     .group p, .group h1, .group h2, .group strong{
          font-size: 11px;
     }

     .line1, .line2, .line3{
          margin-right: 8px;
     }
     .line1 i, .line2 i, .line3 i {
          font-size: 10px;
     }
     .line1{
          margin-left: -3px;
     }
     
     .toto, .tata, .titi, .mimi, .meto, .mota{
          width:380px ;
          height: 180px;
          box-shadow: 0px 3px 2px gainsboro;
     }
     .titi, .mota, .tata, .meto{
          margin-left: -10px;
     }
     .mimi, .toto{
          margin-left: -5px;
     }
     .toto img, .tata img, .titi img, .mimi img, .meto img, .mota img{
          width:380px ;
          height: 100px;
     }
     .milieu{
          width: 368px;
     }
     .lineverticale{
          display:flex;
          flex-direction: column;
          width: 390px;
          height: 490px;
          margin-left: 0px;
          padding: 0px 0px 0px 10px;
     }
     .lineverticale img{
          width: 200px;
          height: 130px;
          margin-right: 5px;
     }
     .lineverticale strong, .lineverticale p{
          font-size: 11px;
     }
     .teta1{
          margin-left: 200px;
     }
     .element i{
          font-size: 10px;
     }
     
     .mami, .meme, .papi{
          width: 370px;
          height: 130px;
          margin-right: 10px;
          margin-bottom: 15px;
          margin-top: 5px;
     }
     .atm h1{
          font-size: 11px;
     }
     .actimarseil{
          display: flex;
          flex-direction: column;
     }
     .actimarseil p{
          font-size: 11px;
     }
     .activA, .activC{
          height: 200px;
          width: 390px;
          margin-right: 9px;
     }
     .activA img, .activC img{
          height: 170px;
          width: 390px;
     }
     .activB1, .activB2, .activD1, .activD2{
          height: 200px;
          width: 390px;
     }
     .activB1 img, .activB2 img, .activD1 img, .activD2 img{
          height: 170px;
          width: 390px;
          
     }
     .activB{
          margin-right: 9px;
     }
     .activB1, .activD1{
          margin-bottom: 9px;
     }
     footer{
          font-size: 9px;
     }
     footer strong{
          font-size: 11px;
     }
     .pied3{
          margin-left: 40px;
     }

}    


/* MEDIA WIDTH 375*/


@media screen and (max-width: 375px){

     .global{
         font-size: 11px;
         width: 100%;
    }
     #logo a img
    {
         width: 70px;
    }  

     nav
    {
         display: flex;
         flex-direction: column-reverse;
         float: right;
         margin-top: -30px;
         font-size: 14px;
    }

     nav a:hover
    {
         border-bottom: 2px solid #0065fc;
         border-top: none;
    }

    .navlist
    {
        margin-top: 2px;
        margin-right: 50px;
        display: flex;
        margin-left: -210px;
    }

    .navlist1
    {
         margin-right: 20px;
    }
    
    .navi
    {
         margin-left: 30px;

    }

     header h1
    {
         font-size: 12px;
         margin-top: 40px;
    }
    .localite
    {
         border: 2px solid white;
         display: flex;
         height: 30px;
         width: 355px;
         font-size: 14px;

    }
    .localite input{
         font-size: 14px;
         margin-bottom: 5px;
         margin-top: 3px;
    }
    

    .loc1, .loc2
    {
         border: 1px solid gainsboro;
    }
    
    .loc2
    {
        padding-right: 65px;
        padding-left: 65px;
        height: 33px;
    }
     .loc1
    {
         padding-left: 10px;
         padding-right: 10px;
         border-bottom-left-radius: 12px;
         border-top-left-radius: 12px;
         background-color: gainsboro;
         height: 25px;
    }

    .loc3
    {
         border: 1px solid gainsboro;
         border-bottom-right-radius: 12px;
         border-top-right-radius: 12px;
         border:  1px solid #0065fc;
         height: 28px;
    }

    .loc3 em
    {
         padding: 10px 10px 5px 10px;
    }
    .fichoi{
         margin-left: 0px;
    }
    .fichoi strong:hover
    {
        color: #F2F2F2;
    }
    .fichoi1 strong:hover
    {
         color: #F2F2F2;
    }
    
    .tout:hover
    {
        background-color: #0065FC;
    }
    .tout1:hover
    {
        background-color: #0065FC;
    }
    .tout2:hover
    {
        background-color: #0065FC;
    }
    .tout3:hover
    {
        background-color: #0065FC;
    }
    .tout{
         width: 100px;
    }

    .tout2
    {
         margin-bottom: 5px;
         width: 100px;
         height: 20px;
    }
    .fichoi strong, .fichoi1 strong{
         font-size: 11px;
         margin-top: 5px;
    }

    .tout3
    {
         width: 110px;
         height: 20px;
    }
    

    .navlist
    {
         margin-top: 20px; 
    }  

    .navlist1
    {
         margin-top: 10px;
     
    }

    .loc3 p
    {
         display: none;
    }
    .loc3 i{
         font-size: 14px;
    }

    .loc3 em
    {
         display: contents;  
    }

    .choix, .fichoi1
    {
         margin-top: 5px;
         display: flex;
         flex-direction: column;
    }

    .fichoi
    {
        margin-top: 5px;
        display: flex;
    }

    .chxa2
    {
         margin-top: 5px;
    }

    .loc3 i
    {
         padding: 10px 10px 5px 10px;
    }

    .tout2
    {
         width: 100px;
         margin-bottom: 5px;
         height: 20px;
    }

    .tout3
    {
         width: 150px;
         height: 20px;
    }

    .chx1, .chx3, .chx5, .chx7
    {
         display: flex;
         border:  1px solid hsl(180, 47%, 93%);
         background-color: #c8d8f0;
         width: 15px;
    }
     .chx3, .chx7{
         width: 15px;
    }
    .chx1 i, .chx3 i, .chx5 i, .chx7 i{
         margin-top: 3px;
    }

    .tout, .tout1, .tout2, .tout3
    {
         display: flex;
         border: 1px solid gainsboro;
         border-radius: 17px;
         height: 27px;
    }
    .chx3, .chx5{
         padding: 8px 10px 0px 10px;
    }
    .tout1{
         width: 90px;
    }
    .tout2{
         width: 110px;
    }
    .tout{
         width: 120px;
    }
    .chxa1 
    {
         border: 1px solid gainsboro;
         border-radius: 19px;
    }

    .chxa
    {
         display: flex;
    }
    .chxa2 p{
         margin-top: 10px;
    }

    .tateline
    {
         font-size: 12px;
    }
    .teteline h1{
         font-size: 11px;
    }
    .teta1
    {
         margin-left: 260px;
         font-size: 10px;
    }

    .teta
    {
         margin: 15px 0px 0px 5px;
    }
    .teta h3{
         font-size: 10px;
    }
    article
    {
         display: flex;
         flex-direction: column-reverse;
         margin-left: -10px;
         margin-right: 0px;
    }

    .group
    {
        display: flex;
        flex-direction: column-reverse;
    }

     .milieu
     {
          background-color: white;
     }
     .milieu p, .milieu strong{
          font-size: 10px;
     }
     .element{
          display: flex;
          flex-direction: column;
     }

    .line1 img, .line2 img, .line3 img
    {
         width: 360px;
         height: 110px;
         border-top-left-radius: 9px;
         border-top-right-radius: 9px;
    }

    .toto, .tata, .titi, .mimi, .meto, .mota
    {
         width: 360px;
         height: 170px;
         border: 5px solid white;
         border-radius: 9px;
         
         margin-bottom: 10px;
         box-shadow: 0px 3px 2px gainsboro;
    }

    .toto, .tata, .mimi, .meto
    {
         margin-left: -10px;
    }
    .titi, .mota{
         margin-left: -15px;
    }
    h2{
         font-size: 11px;
    }
    .atm h1{
         font-size: 11px;
    }

    .lineverticale img
    {
         width: 150px;
         height: 110px;
         border-bottom-left-radius: 9px;
         border-top-left-radius: 9px;
    }
  

    .lineverticale
    {
         border: 1px solid white;
         border-radius: 9px;
         background-color: #F2F2F2;
         width: 360px;
         height: 450px;
         margin-right: 0px;
    }
    .lineverticale p, .lineverticale strong{
         font-size: 10px;
    }
 
    .mami, .meme, .papi
    {
         display: flex;
         border: 3px solid white;
         background-color: white;
         border-radius: 9px;
         width: 345px;
         height: 110px;
         margin-bottom: 10px;
    }
    aside{
         margin-left: -10px;
    }
    .actimarseil
    {
         display: flex;
        flex-direction: column;
    }

    .actimarseil p
    {
         font-size: 10px;
    }

    .activA img, .activB img, .activC img, .activD img
    {
         width: 360px;
         height: 150px;
         border-top-left-radius: 9px;
         border-top-right-radius: 9px;
    }

    .activA, .activB1, .activB2, .activC, .activD1, .activD2 
    {
         width: 360px;
         height: 180px;
         border: 1px solid white;
         border-radius: 9px;
         box-shadow: 0px 3px 2px gainsboro;
         margin-top: 10px;
        
    }

     .activA, .activB1, .activB2, .activD1, .activD2
    {
          margin-left: 10px;
    }
     .atm
    {
          margin-left: 10px;
    }

     .activC
    {
          margin: 10px;
    }

    footer
    {
         display: flex;
         flex-direction: column;
         margin-top: 10px;
         background-color: #F2F2F2;
         width: 100%;
         font-size: 11px;

    }
    footer strong{
         font-size: 10px;
    }
 
     .pied2, .pied3
    {
         margin-left: 20px;
         width: 310px;
    }

     .pied
    {
          margin-left: 10px;
    }
 

}

/* MEDIA WIDTH 320 */



@media screen and (max-width: 320px){

     .global{
          margin-right: 0px;
     }
     .tout1{
          width: 100px;
     }
     .chx1{
          padding: 7px 10px 5px 10px;
          width: 20px;
     }
     .chx7{
          padding: 7px 7px 7px 7px ;
          width: 20px;
     }
     .chx5{
          padding: 7px 10px 15px 10px;
     }
     .chx3{
          padding: 7px 10px 15px 10px;
     }

     header h1{
          font-size: 11px;
     }
     .choix strong{
          font-size: 10px;
     }
     .navlist{
          margin-left: -180px;
     }
     .loc1, .loc3{
          height: 23px;
     }
     .loc1{
         height: 25px; 
     }
     .teta1 i{
          margin-left: 0px;
     }

     .loc2{
          padding-left: 40px;
          padding-right: 40px;
     }
     .loc3{
          padding: 10px 10px 0px 10px;
     }
     .teta1{
          margin-left: 180px;
     }

     .mami, .meme, .papi{
          width: 290px;
     }
     .lineverticale{
          width: 310px;
          height: 480px;
     }
     .lineverticale img{
          width: 150px;
     }
     .line1 img, .line2 img, .line3 img{
          width: 300px;
     }
     .toto, .tata, .titi, .mimi, .meto, .mota{
          width: 300px;
          margin-left: -5px;
     }
     .actimarseil img{
          width: 300px;
     }
     .activA, .activB1, .activB2, .activC, .activD1, .activD2{
          width: 300px;
     }
     footer{
          width: 320px;
     }


}