     
@media screen and (max-width: 320px){
    
    .global
    {
        font-size: 10px;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    nav ul
    {
        display: flex;
        flex-direction: column-reverse;
    }
    
    nav a:hover
    {
        border-top: none;
    }

    nav a:hover
    {
    border-bottom: 2px solid #0065FC;
    }

    #logo a img
    {
        margin-top: 5px;
        width:70px;
    }
    
    header h1
    {
        margin-top: 30px;
    }
    .loc3 p
    {
        display: none;
    }

    .loc3 em
    {
        display: contents;
    }

    .loc2
    {
        width: 300px;
        padding-left: 30px;
        padding-right: 20px;
    }


    .loc3 i
    {
        margin: 10px 10px 0px 10px;
        
    }

    .navlist1
    {
        margin-top: 15px;
        margin-left: -200px;
    }

    .navlist
    {
        margin-top: 15px;   
        margin-left: -370px;
    }
    .fichoi
    {
        margin-top: 5px;
    }

    .tout3
    {
        margin-top: 5px;   
    }

    .fichoi1
    {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
    }

    .tout2, .tout3
    {
        height: 22px;
    }

    .tout3
    {
        width: 150px;
    }

    .tout2
    {
        width: 100px;
    }
    .tout, .tout1
    {
        height: 22px;
    }
    .chx1, .chx3, .chx5, .chx7
    {
        width: 8px;
        height: 10px;
    }

    .chxa1 i
    {
        padding: -5px 5px 0px 0px;
        
    }

    .chxa2
    {
        margin-top: 5px;
    }

    .toto img, .tata img, .titi img, .meto img, .mimi img, .mota img
    {
        width: 260px;
        
    }

    .teta strong
    {
        margin-left: 15px;
    }
    .teta1
    {
        margin-left: 135px;
    }
    .lineverticale
    {
        padding-right: 5px;
    }

    .mami, .meme, .papi
    {
        width: 260px;
    }

    .titi img, .mota img, .titi2, .mota2
    {
        margin-left: 15px;
    }

    .activA img, .activB img, .activC img, .activD img
    {
        width: 285px;
    }
    
    .activA, .activB, .activC, .activD
    {
        margin-left: -8px;
    }
    
    .activA img, .activC img
    {
        height: 3cm;
    }
    .group
    {
        width: auto;
        display: flex;
        flex-direction: column-reverse;
        background-color: white;
    }

    .milieu
    {
        background-color: white;
    }

    .choix
    {
        display: flex;
        flex-direction: column;
    }

    article
    {
        width: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    .teta
    {
        margin-left: -15px;
    }

    .actimarseil
    {
        width: auto;
        margin: auto;
        flex-direction: column;
    }

    .pied2, .pied3
    {
        padding: 0px 0px 0px 25px;
    }

    aside
    {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    aside img
    {
        width: 260px;
    }
    
    footer
    {
        margin: auto;
        display: flex;
        flex-direction: column;

    }



}

@media screen and (max-width: 768px){
    
    .global{
        
        margin: auto;
    }

    nav ul{
        margin-right: -140px;
    }

    aside{
        margin-right: 20px;
    }

    footer{
        margin-right: -140px;
    }
     
    .activA img, .activB img, .activC img, .activD img{
        width: 208px;
    }
    .localite{
        width: 250px;
    }


}