    
@media screen and (max-width: 375px){
    
    body
    {
       max-width: 375px;
       margin: auto;
    }

    .global{
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .haut_page
    {
        display: inline-block;
    }

    #logo a img
    {
        width: 100px;
        margin-bottom: 30px;
    }

    nav ul
    {   
        display: flex;
        flex-direction: column-reverse;
        margin-top: -65px;
    }

    .fichoi
    {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: -10px;

    }

    .fichoi1
    {
        display: flex;
        flex-direction: column;
    }
    
    .tout2
    {
        margin-bottom: 10px;
    }
    
    .choix
    {
        display: flex;
        flex-flow: wrap;
    }

    .chxa2
    {
        font-size: 9px;
    }

    .toto img, .tata img, .titi img, .meto img, .mimi img, .mota img
    {
        width: 220px; 
    }

    .activA img, .activB img, .activC img, .activD img
    {
        width: 220px;
    }

    .lineverticale
    {
        width: 220px;
        margin-left: -8px;
    }

    .localite
    {
        width: 220px;
    }

    .mami, .meme, .papi
    {
        width: 220px;
    }

    .titi img, .mota img, .titi2, .mota2
    {
        margin-left: 15px;
    }

    .atm
    {
        margin-left: 22px;
    }
    
    
    .activA, .activB, .activC, .activD
    {
        margin-left: -10px;
    }
    
    .activA img, .activC img
    {
        height: 3cm;
    }

    .activB, .activD
    {
         padding-right: -5px;
    }

    .group
    {
        width: auto;
        display: flex;
        flex-direction: column-reverse;
        background-color: white;
    }

    .milieu
    {
        background-color: white;
    }

   

    article
    {
        width: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    .teta
    {
        margin-left: 5px;
    }

    .teta1
    {
        margin-left: 110px;
    }

    .actimarseil
    {
        width: 220px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .pied2, .pied3
    {
        padding: 0px 0px 0px 25px;
    }

    aside
    {
        
        display: flex;
        flex-direction: column;
    }

    aside img
    {
        width: 260px;
    }
    
    footer
    {
        display: flex;
        flex-direction: column;
        width: 240px;   
        margin-left: 33px;
    }



}

@media screen and (max-width: 768px){
    
    .global{
        
        margin: auto;
    }

    nav ul{
        margin-right: -140px;
    }

    aside{
        margin-right: 20px;
    }

    footer{
        margin-right: -140px;
    }
     
    .activA img, .activB img, .activC img, .activD img{
        width: 208px;
    }

    .localite{
        width: 350px;
    }


}