
    
@media screen and (max-width: 480px)
{

    .line1, .line2, .line3
    {
        display: flex;
        flex-direction: column;
    }
     
    .toto, .tata, .titi, .mimi, .meto, .mota, .meme, .mami, .papi
    {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    article, .group
    {
        display: none;
        
    }

    .milieu
    {
        display: flex;
        flex-direction: column;
    }

    aside
    {
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    
    footer
    {
        margin: auto;
        display: flex;
        flex-direction: column;

    }



}