
    

body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.localite
{
    border: 1px solid white;
    display: flex;
    margin-right: 17.2cm;
    margin-bottom: 0.5cm;
}

.loc1, .loc2
{
    border: 1px solid gainsboro;
    padding-top: 14px;
    
}
.loc1
{
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-color: gainsboro;
}

.loc3
{
    border: 1px solid gainsboro;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: blue;
    border: 1px solid blue;
}

.loc3 p
{
    color: white;
}

.choix
{
    display: flex;
}

.chx1, .chx2, .chx3, .chx4
{
    display: flex;
    margin-left: 0.5cm;
    border: 1px solid gainsboro;
    height: 27px;
    padding-top: 8px;
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
}
.chx1a .chx2a .chx3a .chx4a
{
    border: 1px solid gainsboro;
   
}

#logo a img
{
    width:150px;
}
.haut_page table
{
    float: right;
    margin-bottom: 5cm;
}
header
{
    margin-left:1cm;
}

nav ul
{
    display: flex;  
    float: right;
    position:relative;
    bottom: 2cm;
    list-style-type: none;
} 

nav a
{
    text-decoration: none;
    list-style-type: none;
    margin-left: 0.3cm;
}

ul
{
    list-style-type: none;
}



nav ul
{
    list-style-type: none;
    margin-right: 8cm;
}

.localite img
{
    height: 0.4cm;
}
.localite
{
    font-size: 14px;
}

.choix td
{
    border: 1px solid gainsboro;
}

.choix img
{
    background-color: blue;
    border: 1px solid gainsboro;
    width: 12px;
    border-radius: 2cm;
    height: 0.4cm;
}
span
{
    color: blue;
}

td
{
    border-radius: 2cm;
}
section
{
    display: flex;
    flex-direction: column;
}
section h1
{
    margin-left: 0.5cm;
    font-size: 16px
}

article
{
    display: flex;
    justify-content: space-between;
    margin-left: 0.5cm;
}

.milieu
{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 9px;
    margin-left: 0.5cm;
    background-color: ghostwhite;
    font-size: 12px;
}
.teteline
{
    margin-left: 1cm;
}
.group
{
    display: flex;
}

.toto
{
    border: 5px solid white;
    border-radius: 9px;
    background-color: white;
}

.tata
{
    border: 5px solid white;
    background-color: white;
    border-radius: 9px;
}

.titi
{
    border: 5px solid white;
    background-color:white;
    border-radius: 9px;
}
.line1
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1.5cm;
    margin-right: 0.5cm;
}

.line1 img
{
    width: 5cm;
    height: 3cm;
    border-radius: 9px;
}

.line2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0.5cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
}
.line3
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1.5cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
}
.line3 img
{
    width: 5cm;
    height: 3cm;
    border: 1px solid white;
    border-radius: 9px;
}

.mimi
{
    border: 5px solid white;
    background-color: white;
    border-radius: 9px;
    margin-top: 0.5cm;
}

.meto
{
    border: 5px solid white;
    background-color: white;
    border-radius: 9px;
    margin-top: 0.5cm;
    margin-bottom: 1.5cm;
}

.mota
{
    border: 5px solid white;
    background-color: white;
    border-radius: 9px;
    margin-top: 0.5cm;
    margin-bottom: 1.5cm;
}
.tete
{
    display: flex;
    justify-content: space-between;
}
.tete2
{
    margin-right: 3cm;
}
.mami
{
    border: 5px solid white;
    border-radius: 9px;
    background-color: white;
    margin-top: 1cm;
    margin-left: 1cm;
    margin-right: 1cm;
    display: flex;
    display: inline;
}

.mami img
{

    float:left;
}

.papi
{
    border: 5px solid white;
    border-radius: 9px;
    margin-left: 1cm;
    margin-right: 1cm;
    background-color: white;
    margin-top: 0.6cm;
    margin-bottom: 1.5cm;
    display: flex;
}

.papi img
{
    float: left;
}

.meme
{
    border: 5px solid white;
    border-radius: 9px;
    background-color: white;
    margin-top: 1cm;
    margin-bottom: 0.6cm;
    margin-left: 1cm;
    margin-right: 1cm;
    display: flex;
}

.meme img
{
    float: left;
}

.line2 img
{
    width: 5cm;
    height: 3cm;
    border-radius: 9px;
}

.lineverticale img
{
    margin-right: 0.5cm;
    width: 3.5cm;
    height: 3cm;
    border-radius: 9px;
}

.lineverticale p
{
    font-size: 12px;
}
.lineverticale
{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 9px;
    margin-right: 8cm;
    margin-left: 0.5cm;
    background-color: ghostwhite;
}
.lineverticale h1
{
    margin-left: 0.5cm;
}
.activite p
{
    font-size: 12px;
}
.activA
{
    border: 1px solid white;
    border-radius: 9px;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    margin-left: 0.5cm;
    margin-right: 1.5cm;
    background-color: white;
    border-bottom-color: aliceblue;
}

.activA img
{
    height: 7.2cm;
    width: 6cm;
    border-radius: 9px;
}

.activB
{
    margin-top: 0.5cm;
    border-radius: 9px;
    margin-right: 1.5cm;
    margin-bottom: 0.3cm;
    
    
}
.activB1
{
    border: 1px solid white;
    border-radius: 9px;
    background-color: white;
    border-bottom-color: aliceblue;
}
.activB2
{
    border: 1px solid white;
    border-radius: 9px;
    margin-top: 0.3cm;
    background-color: white;
    border-bottom-color: aliceblue;
}

.activB img
{
    width: 6cm;
    height: 2.8cm;
    border-radius: 9px;
}
.activC
{
    border: 1px solid white;
    border-radius: 9px;
    background-color: white;
    border-bottom-color: aliceblue;
    margin-top: 0.5cm;
    margin-right: 1.5cm;
    margin-bottom: 0.5cm;
    display: flex;
    flex-direction: column;
}

.activC img
{
    height: 7.2cm;
    width: 6cm;
    border-radius: 9px;
}
.activD
{
    margin-left: 0cm;
    margin-bottom: 0.5cm;
}

.activD img
{
    width: 6cm;
    height: 2.8cm;
    border-radius: 9px;
}

.activD1
{
    border: 1px solid white;
    border-radius: 9px;
    margin-top: 0.5cm;
    margin-bottom: 0.3cm;
    background-color: white;
    border-bottom-color: aliceblue;
}
.activD2
{
    border: 1px solid white;
    border-radius: 9px;
    background-color: white;
    border-bottom-color: aliceblue;
}
.End
{
    display: flex;
    margin-bottom: 1cm;
    margin-left: 0.5cm;
    background-color: white;
    font-size: 12px;
}

.except
{
    display: flex;
    justify-content: space-between;
}

.except1
{
    display: flex;
}
.except2
{
    display: flex;
}

footer
{
    display: flex;
    justify-content: space-between;
    background-color: ghostwhite;
    border: 1px solid white;
    font-size: 12px;
    margin-right: 8cm;
}