
    

body
{
    max-width: 980px;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.global
{
    padding: 0px 0px 0px 15px;
    margin: auto;
}

em{
    color: rgb(212, 205, 205) ;
}

.localite
{
    border: 2px solid white;
    display: flex;
    margin-right: 17.2cm;
    margin-bottom: 0.5cm;
    padding-top: 4px;
    height: 0.9cm;
}

.loc1, .loc2
{
    border: 1px solid gainsboro;
    padding-top: 8px;
    
}

.loc1
{
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    background-color: gainsboro;
}

.loc3
{
    border: 1px solid gainsboro;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    background-color: blue;
    border: 1px solid blue;
    
    
}

.loc3 p
{
    color: white;
    margin-top: 8px;
    padding-left: 5px;
    padding-right: 5px;

}
.loc2
{
    width: 3.5cm;
    padding-left: 15px;
}

.choix
{
    display: flex;
}

.chx1, .chx3, .chx5, .chx7
{
    display: flex;
    border: 1px solid hsl(180, 47%, 93%);
    width: 21px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 7px;
    margin-right: 5px;
    border-radius: 17px;
    background-color: #c8d8f0;
}


.tout, .tout1, .tout2, .tout3
{
    display: flex;
    border: 1px solid gainsboro;
    padding-right: 5px;
    margin-right: 5px;
    height: 32px;
    border-radius: 17px;
}

.chxa1
{
    border: 1px solid gainsboro;
    border-radius:19px;
    width: 15px;
    height: 20px;
    padding-top: 3px;
    padding-left: 9px;
    margin-top: 10px;


}

.chxa
{
    display: flex;    
}


.tout
{
    margin-left: 0.5cm;  
}

.choix strong
{
    margin-top: 5px;
}

#logo a img
{
    width:150px;
}

.pied, .pied2, .pied3
{
    width: 33.33%;
} 

.pied2
{
    padding-top: 10px;
}

.pied
{
    padding: 10px 0px 0px 25px;
}

.pied3
{
    padding: 10px 25px 0px 0px;
}
    
nav ul
{
    display: flex;  
    float: right;
    margin-top: -40px;
    list-style-type: none;
} 

nav a
{
    text-decoration: none;
    list-style-type: none;
    margin-right: 10px;
}


ul
{
    list-style-type: none;
}


nav a:hover
{
    border-top: 2px solid blue;
}

.localite img
{
    height: 0.4cm;
}

.localite
{
    font-size: 14px;
}

span
{
    color: blue;
}


section
{
    display: flex;
    flex-direction: column;
}

section h1
{
    margin-left: 0.5cm;
    font-size: 14px
}

header h1
{
    font-size: 18px;
}

article
{
    display: flex;
}

.milieu
{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 9px;
    margin-right: 0.7cm;
    background-color: #F2F2F2;
    font-size: 11px;
}

.group
{
    display: flex;
}

.line1
{
    display: flex;
    flex-direction: column;
    margin-top: 0.5cm;
    margin-left: 0.5cm;
}

.line2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0.5cm;
    margin-bottom: 1cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
}

.line3
{
    display: flex;
    flex-direction: column;
    margin-right: 0.5cm;
    margin-top: 0.5cm;
    margin-bottom: 1cm;
}

.toto, .tata, .titi, .mimi, .meto, .mota
{
    border: 3px solid white;
    border-radius: 9px;
    background-color: white;
}

.toto1, .tata1, .titi1, .mimi1, .meto1, .mota1
{
    margin-bottom: 5px;
}

.mimi, .meto, .mota
{
    margin-top: 0.5cm;
}

.line1 img, .line2 img, .line3 img
{
    width: 4.5cm;
    height: 3cm;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}  
  
.mimi
{
    margin-bottom: 0.2cm;
}


.tete
{
    display: flex;
    justify-content: space-between;
}

.tete2
{
    margin-right: 3cm;
}

.lineverticale img
{
    width: 3cm;
    height: 2.5cm;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
}

.lineverticale
{
    font-size: 11px;
    border: 1px solid white;
    border-radius: 9px;
    background-color: #F2F2F2;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    width: 7.5cm;
}

.lineverticale h1
{
    margin-left: 0.5cm;
}

.mami, .meme, .papi
{
    display: flex;
    border: 3px solid white;
    background-color: white;
    border-radius: 9px;
    margin-top: 0.5cm;

}

.mami1, .meme1, .papi1
{
    margin-right: 7px;
}

.mami2, .meme2, .papi2
{
    width: 2.5cm;
}

.teta
{
    margin-left: -0.5cm;
    display: flex;
}

.teta1
{
    margin-left: 3.7cm;
    margin-top: 12px;
}




.activA img, .activB1 img, .activB2 img, .activC img, .activD1 img, .activD2 img
{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    width: 5.9cm;
    object-fit: cover;
}

.activA, .activB1, .activB2, .activC, .activD1, .activD2
{
       box-shadow: 0px 3px 2px gainsboro;

}

.activite p
{
    font-size: 10px;
}

.activA, .activC
{
    border: 1px solid white;
    border-radius: 9px;
    margin-bottom: 0.5cm;
    margin-right: 0.5cm;
    background-color: white;
}

.activC
{
    margin-left: 0.5cm;
}

.activA img, .activC img
{
    height: 7.1cm;
}

.activB img, .activD img
{
    height: 2.7cm;
}

.activB1, .activD1
{
    margin-bottom: 0.5cm;
}

.activB, .activD
{ 
    margin-bottom: 0.3cm;    
}

.activA, .activB, .activC, .activD, .atm
{
    margin-top: 0.2cm;
}


.activB1, .activB2, .activD1, .activD2
{
    border: 1px solid white;
    border-radius: 9px;
    background-color: white;
}


aside
{
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 12px;
}

.actimarseil
{
    display: flex;
}


footer
{
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    border: 1px solid white;
}

